block content
  form.messageForm(action="/new" method="post")
    input(type="text" name="user" placeholder="Apelido")
    input(type="text" name="text" placeholder="Mensagem")
    input(type="submit" value="Enviar"  class="btn btn-primary")